@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F5F2;
  --foreground: #282825;
}

@font-face {
  font-family: 'Unigeo';
  src: url('/fonts/Unigeo32-Medium-trial-BF6556e1d9d0a4a.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unigeo';
  src: url('/fonts/Unigeo32-Bold-trial-BF6556e1d98e330.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h2 {
  font-family: 'Unigeo';
  font-size: 48px;
  font-weight: semibold;
  margin-top: 24px;
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
